<!DOCTYPE html>
<html>
<head>
  <title>Pragmatic Online Bookstore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <!-- side menu bar -->
    <div id="side">
      <a href="#">Home</a><br />
      <a href="#">Questions</a><br />
      <a href="#">Blog</a><br />
      <a href="/carts">Carts</a><br />
    </div>

    <!-- main content container -->
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
